GeoAlchemy>=0.6
Shapely>=1.2.13
# OWSLib==0.8.2
# above line gives error UserWarning: Unbuilt egg for OWSLib [unknown version]
# try the previous way to make csw harvest working.
-e git+https://github.com/geopython/OWSLib.git@4b0a62cd37a5a03aafc5c0cd9606e0658d5ac664#egg=owslib
lxml>=2.3
argparse
pyparsing==1.5.6
requests==1.1.0
